{% extends "main_base.html" %}
{% block content %}

<main class="main">

  <!-- Hero Section -->
  <section id="hero" class="hero section accent-background">

    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-5 justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2><span>Level </span><span class="accent">1</span></h2>
          <p>자바스크립트(JavaScript)를 이용한 크롤링</p>
          <div class="d-flex">
            <a href="#about" class="btn-get-started">Get Started</a>
            <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8"
              class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch
                Video</span></a>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2">
          <img src="{{ url_for('static', filename='assets/img/hero-img.svg') }}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative" data-aos="fade-up" data-aos-delay="200">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-easel"></i></div>
              <h4 class="title"><a href="{{ url_for('level1') }}" class="stretched-link">Level1</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-gem"></i></div>
              <h4 class="title"><a href="{{ url_for('level2') }}" class="stretched-link">Level2</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-geo-alt"></i></div>
              <h4 class="title"><a href="{{ url_for('level3') }}" class="stretched-link">Level3</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-command"></i></div>
              <h4 class="title"><a href="{{ url_for('level4') }}" class="stretched-link">Level4</a></h4>
            </div>
          </div><!--End Icon Box -->

        </div>
      </div>
    </div>

  </section><!-- /Hero Section -->

  <!-- land_list Section -->
  <section id="land_list" class="land_list section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>스타트코딩의 좋은집 구하기</h2>
    </div><!-- End Section Title -->


    <div id="land-list-container" class="container land_list_container" data-aos="fade-up" data-aos-delay="100"></div>

    <script>
      let page = 1;
      let pageSize = 20;
      let loading = false;

      document.addEventListener('DOMContentLoaded', () => {
        loadArticles();
      });

      window.addEventListener('scroll', () => {
        if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight - 200) {
          loadArticles();
        }
      });

      function loadArticles() {
        if (loading) return;
        loading = true;
        fetch(`/api/articles?page=${page}&pageSize=${pageSize}`)
          .then(res => res.json())
          .then(data => {
            appendArticles(data);
            if (data.length > 0) {
              page += 1;
            }
            loading = false;
          })
          .catch(err => {
            console.error(err);
            loading = false;
          });
      }

      function appendArticles(articles) {
        const container = document.getElementById('land-list-container');
        articles.forEach(article => {
          const div = document.createElement('div');
          div.classList.add('land-item');
          div.setAttribute('data-aos', 'fade-up');
          div.setAttribute('data-aos-delay', '50');

          /* 매물 설명 */
          const descContent = article.article_desc
            ? `<i class="bi bi-quote quote-icon-left"></i>
            <span>${article.article_desc}</span>
            <i class="bi bi-quote quote-icon-right"></i>`
            : '';

          div.innerHTML = `
            <a href="/level1/${article.article_no}">
              <img src="${getThumbImageUrl(article.article_no)}" class="land-img" alt="">
              <div class="item_title">
                <span class="text">${article.article_name}</span>
              </div>
            </a>
            <div class="item_price">
              <span class="type">매매</span>
              <span class="price">${article.article_deal_or_warrant_price}</span>
            </div>
            <div class="item_info">
              <strong class="type">${article.article_type_name}</strong>
              <span class="spec">${article.article_area_name}/${article.article_area_size}㎡, ${article.article_floor}, ${article.article_direction}</span>
            </div>
            <div class="item_desc">
              ${descContent}
            </div>
          `;
          container.appendChild(div);
        });
      }

      function getThumbImageUrl(article_no) {
        return "{{ url_for('static', filename='assets/img/land_list') }}" + "/" + article_no + "_thumb.jpg";
      }
    </script>

  </section><!-- /land_list Section -->

</main>

{% endblock %}